{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": [
    "import",
    "node",
    "jsx-a11y",
    "promise",
    "react",
    "prettier",
    "babel",
    "jest"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "browser": true,
    "serviceworker": true,
    "worker": true
  },
  "rules": {
    "semi": "off",
    "jsx-quotes": ["error"],
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off",
    "prettier/prettier": "error",
    "no-unused-vars": "error",
    "no-duplicate-imports": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ],
    "import/no-unresolved": ["error"],
    "import/no-cycle": "off",
    "import/no-webpack-loader-syntax": "error"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
