.userProfileContent {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.topRow,
.bottomRow {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.midRow {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.leadCount,
.contractCount,
.priceCount,
.totalSummary {
  border: solid 1px gray;
  width: 150px;
  height: 70px;
}

.leads,
.jobs,
.firstColumn,
.secondColumn {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summaryHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}

h1 {
  width: 214px;
  height: 27px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040;
}

.profileIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75vw;
}

.summaries {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.largeGraph,
.circleGraph,
.summary {
  border: solid 1px gray;
  width: 150px;
  height: 150px;
}
