.container {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  padding-top: 25vh;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 30vw;
  height: 33vw;
  text-align: left;
  justify-content: space-between;
}

.rightContainer {
  background-image: url('assets/images/LoginPagePhoto.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 50vw;
}

.photoText {
  color: #fff;
  padding-top: 25vh;
  padding-left: 10vw;
}
