.TopNavBarContainer {
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
}

#nav_search {
  width: 60vw;
  max-width: 880px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.1);
  font-size: 15px;
  padding: 0 25px;
  color: #9b9b9b;
  font-weight: 100;
}

.userName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 9%;
  max-width: 15%;
  font-size: 13px;
  font-weight: 600;
  color: #404040;
  align-items: center;
}

.userName div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: url('assets/images/default-gravatar.png');
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  text-decoration: none;
  color: #404040;
}
