.rememberMe {
  font-size: 12px;
}

input {
  border: none;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  border-bottom: solid #dad8d8 1px;
}

input[type='text'] {
  padding-left: 8px;
  font-size: 12px;
  max-width: 100px;
}

.logIn {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  width: 100%;
}

.LogInButton {
  border: solid 2px #f67a54;
  border-radius: 24px;
  background-color: #f67a54;
  color: #fcfcfc;
  font-size: 14px;
  padding: 5px 0;
  width: 31%;
  cursor: pointer;
}

.LogInButton:disabled {
  border: solid 2px #9b9b9b;
  background-color: #9b9b9b;
  cursor: wait;
}
